includes:
    - vendor/nunomaduro/larastan/extension.neon
    #- vendor/nesbot/carbon/extension.neon
    #- phpstan-baseline.neon
parameters:
    editorUrlTitle: '%%relFile%%:%%line%%'
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - public/index.php
        - routes/
    level: 5
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkAlwaysTrueLooseComparison: true
    checkClassCaseSensitivity: false
    checkDynamicProperties: true
    checkExplicitMixed: false
    checkImplicitMixed: false
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    #noModelMake: false
    #ignoreErrors:
